<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
<<<<<<< HEAD
   <%=render 'layouts/stylesheets' %>
=======
    <%= stylesheet_link_tag 'screen',:media => 'screen'%>
    <%= stylesheet_link_tag 'print',:media => 'print'%>
>>>>>>> create helper...
  </head>
  <body>
  	<div class="container">
  		<%=render 'layouts/header'%>
  		<section class="round">
    		<%= yield %>
    	</section>
    	<%=render 'layouts/footer'%>
    </div>
  </body>
</html>
